@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Pacifico&family=Rubik+Scribble&display=swap");
.wrapperPopup {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 38%;
  aspect-ratio: 2/1;
  background-color: #408df3;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 30px;
  font-size: 1.7vw;
  display: flex;
  flex-direction: column;
}

.heading {
  font-family: "Rubik Scribble", system-ui;
  /* font-size: 1vw; */
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
  text-align: center;
  flex: 1;
}

.wraperRatingStars {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.footerBtn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.footerBtn .btn {
  width: 4vw;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  border-radius: 25%;
  border: 3px solid rgba(64, 141, 243, 0.5);
  outline: none;
  cursor: pointer;
}

.footerBtn .btn:hover {
  filter: brightness(95%);
}

.footerBtn .btn:active {
  filter: brightness(80%);
}

.footerBtn .iconBtn {
  width: 70%;
  height: 70%;
  color: #408df3;
}
